@import "tailwindcss";


*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}